.adventure {
    height: 100vh;
    @include verticalCenter;
    flex-direction: column;
    background: $light2;
    .adventure__h1{
        letter-spacing: 1px;
        position: absolute;
        top: 50px;
        background: $light1;
        color: $dark2;
        width: 100%;
        text-align: center;
        padding: 30px;
    }
    .adventure__story {
        color: $dark2;
        background: $light1;
        height: 330px;
        border-radius: 35px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .adventure__title {
            font-weight: bold;
            font-size: 2rem;
        }
        .adventure_text {
            padding: 20px;
            font-family: Parkinsans;
            font-style: italic;
            font-size: 0.9rem;
            height: 100%;
        }
    }
}