.adventure {
  height: 100vh;
  @include verticalCenter;
  flex-direction: column;
  background: $dark1;
  &__h1 {
    letter-spacing: 1px;
    margin-bottom: 50px;
    background: $dark3;
    color: $light1;
    width: 100%;
    text-align: center;
    padding: 30px;
  }
  &__story {
    color: $light2;
    background: $dark3;
    height: 500px;
    width: 1000px;
    border-radius: 35px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px 100px;
    .adventure__title {
      font-weight: bold;
      font-size: 2rem;
      color: $dark1;
    }
    .adventure__text {
      padding: 20px;
      font-family: EB Garamond;
      font-style: italic;
      font-size: 1.1rem;
      font-weight: 600;
      height: 100%;
      line-height: 1.5rem;
      .adventure__speak {
        font-family: UnifrakturMaguntia;
        text-align: center;
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: 2px;
        background: $dark2;
        color: rgb(83, 0, 0);
        border-radius: 1rem;
        margin-top: 30px;
        padding: 10px;
      }
    }
    .adventure__choices {
      height: 100px;
      width: 90%;
      display: flex;
      justify-content: space-around;
      .adventure__choice {
        background: $dark2;
        color: $light2;
        font-size: 1.3rem;
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: 0 10px 0 0 $light2;
        &:hover {
          background: $light1;
          color: $dark2;
        }
        &:active {
          box-shadow: 0 0 0 0 $light2;
          transform: translateY(10px);
        }
      }
    }
  }
}
