.status {
    position: relative;
    background: $dark1;
    height: 900px;
    width: 1000px;
    margin: auto;
    border: 10px solid $dark2;
    border-radius: 50px;
    &__return {
        position: absolute;
        height: 100px;
        width: 250px;
        bottom: 50px;
        left: 100px;
    }
    .restartButton {
        position: absolute;
        height: 50px;
        width: 300px;
        bottom: 50px;
        right: 100px;
    }
}