.status {
    &__return {
        height: 100px;
        width: 250px;
    }
    .restartButton {
        position: absolute;
        bottom: 50px;
        height: 50px;
        width: 300px;
        margin-top: 50px;
    }
}