.combat-container {
    width: 100%;
    font-size: 1.3rem;
    .combat {
        display: flex;
        width: 90%;
        justify-content: space-between;
        background: $dark2;
        border-radius: 25px;
        padding: 50px;
        margin: auto;
        &__player__stats, 
        &__ennemy__stats {
            background: $dark1;
            padding: 25px;
            border-radius: 35px;
            &--name{
                font-weight: bold;
                text-align: center;
                background: $dark2;
                height: 35px;
                border-radius: 500px;
                padding: 5px 20px;
                margin-bottom: 10px;
            }
            p {
                padding-bottom: 5px;
            }
        }
        /* ENNEMI STYLE */
        &__ennemy__stats {
            background: $dark3;
            &--name{
                color: darkred;
                background: $dark2;
            }
            p {
                color: $dark1;
            }
            &:hover {
                filter: brightness(0.8);
            }
        }
        &__ennemy__attack {
            animation: enemyAttack 1s forwards ease-out;
        }

        /* STYLES PLAYING */
        &__play {
            background: $light1;
            p {
                color: $dark3;
            }
        }
        &__wait {
            background: $dark3;
        }
        &__ennemy__wait {
            background: $dark3;
        }
        &__ennemy__play {
            background: darkred;
        }
        &__hit {
            animation: hit 0.6s forwards;
        }
    }
    .your-turn {
        position: absolute;
        @include verticalCenter;
        background: $light1;
        height: 100px;
        width: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        color: $white;
        animation: yourTurn 1s forwards;
    }
    .combat__player__turn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 50px;
        margin-top: 25px;
        height: 150px;
        border-radius: 35px;
        .combat__button {

            &__attack, &__defense, &__use, &__fled {
                padding: 20px;
                border-radius: 25px;
                box-shadow: 0 10px 0 0 black;
                width: 150px;
                &:hover {
                    filter: brightness(0.8);
                    color: $white;
                }
                &:active {
                    box-shadow: 0 0 0 0;
                    transform: translateY(10px);
                }
            }
            &__attack {
                background: darkred;
            }
            &__defense {
                background: $light1;
            }
            &__use {
                background: orangered;
            }
            &__fled {
                background: rgb(70, 70, 70);
            }

        }
    }
    .combat__button__cancel {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 25px;
        height: 50px;
        border-radius: 35px;
        padding: 25px;
        background: $dark3;
    }
    .ennemy-turn {
        position: absolute;
        @include verticalCenter;
        height: 100px;
        width: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        animation: yourTurn 1s forwards;
        color: $dark1;
        background: darkred;
    }
}
.combat--attacking {
    cursor: crosshair;
}

@keyframes yourTurn {
    0%,30%,50%,70%,90% {
        opacity: 0;
    }
    20%,40%,60%,80%,95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes hit {
    0%,30%,50%,70%,90% {
        background: red;
        transform: translateX(-10px);
    }
    20%,40%,60%,80% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes enemyAttack {
    0%,100% {
        transform: translateX(0);
    }
    70% {
        transform: translateX(50px) rotate(10deg);
    }
    90% {
        transform: translateX(-350px) rotate(-20deg);
    }
}