.inventory {
  display: flex;
  align-items: flex-end;
  h1 {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    background: $dark2;
    color: $light2;
    padding: 5px 15px;
    border-radius: 5px;
    border: 8px solid $dark3;
  }
  &__container {
    width: 204px;
    background: $dark3;
    border: 2px solid $dark3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &__item {
      height: 100px;
      width: 100px;
      background: $dark2;
      border: 2px solid $dark3;
      border-radius: 10px;
      @include verticalCenter;
      text-align: center;
      &--active {
        cursor: pointer;
        color: $dark3;
        background: $light2;
        &:hover {
            border: 3px solid $light1;
            color: $white;
            transform: scale(1.02);
        }
      }
      &--selected {
        background: $light1;
        color: $white;
        transform: scale(1.02);
      }
    }
  }
  &__description {
    display: flex;
    flex-wrap: wrap;
    background: $dark2;
    width: 400px;
    height: 250px;
    margin-left: 50px;
    border-radius: 25px;
    border: 7px solid $dark3;
    padding: 20px;
    &--useless {
        font-style: italic;
        color: $light2;
        font-size: 0.95rem;
        height: 75%;
        width: 100%;
    }
    &--use {
        height: 25%;
        width: 70%;
        color: $light1;
        font-size: 1.2rem;
        &.positive {
            color: green;
        }
        &.neutral {
            color: goldenrod;
        }
        &.negative {
            color: salmon;
        }
    }
    &__button {
        width: 30%;
        &:hover {
            background: $dark3;
        }
    }
  }
}
