.sortInv {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 400px;
  z-index: 1000;
  background: $dark1;
  border: 15px solid $light2;
  border-radius: 50px;
  pointer-events:auto;
  user-select: text;
  &__content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 20px;
    &__inventory {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      background: $dark3;
      justify-content: center;
      width: 240px;
      height: 320px;
      align-self: center;
      margin-right: 20px;
      border: 5px solid $dark2;
    }
    &__itemDesc {
      background: $dark3;
      border: 5px solid $dark2;
      border-radius: 15px;
      width: 300px;
      height: 60%;
      margin-right: 20px;
      padding: 10px 20px;
      align-self: center;
      &__name {
        color: $light2;
        font-size: 1.25rem;
        margin: 5px 0 10px;
      }
      &__useless {
        text-align: left;
        color: $dark1;
        height: 80px;
        font-size: 0.9rem;
        font-style: italic;
      }
      &__use {
        position: relative;
        color: $light1;
        font-size: 1.2rem;
        height: 50px;
        &__button {
          position: absolute;
          left: -10px;
          bottom: 0;
          box-shadow: 0 5px 0 0 black;
          font-size: 0.9rem;
          padding: 5px;
          &:active {
            transform: translateY(5px);
          }

        }
      }
    }
    &__itemFound {
      background: $dark3;
      border: 5px solid $dark2;
      height: 100%;
      width: 220px;
      align-self: center;
      &__name {
        width: 100px;
        height: 100px;
        margin: 20px auto;
      }
      &__desc {
        background: $dark2;
        border: 5px solid $dark1;
        box-sizing: border-box;
        height: 170px;
        margin: 5px;
        padding: 10px;
        &__useless {
          margin-top: 10px;
          color: grey;
          font-style: italic;
          font-size: 0.8rem;
          text-align: left;
        }
        &__use {
          color: $light1;
          font-size: 1.1rem;
          padding-top: 5px;
        }
      }
    }
  }
  &__exchange {
    position: absolute;
    bottom: 30px;
    left: 310px;
    transform: translateX(-50%);
    padding: 10px;
    width: 100px;
    height: 40px;
    background: $light2;
    color: $dark3;
    &:hover {
      background: $light1;
    }
    &:active {
      background: $light1;
      transform: translate(-50%,10px);
    }

  }
  &__finish {
    position: absolute;
    bottom: 30px;
    left: 480px;
    transform: translateX(-50%);
    padding: 10px;
    width: 100px;
    height: 40px;
    &:active {
      transform: translate(-50%,10px);
    }
  }
}
