/* BASE */
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Bokor&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Germania+One&family=Parkinsans:wght@300..800&family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bokor&family=Parkinsans:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bokor&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Parkinsans:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bokor&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Parkinsans:wght@300..800&family=UnifrakturMaguntia&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
  font-family: Germania One;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

.unifrakturmaguntia-regular {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
}

/* COMPONENTS */
/* LAYOUTS */
/* PAGES */
.home {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #006d77;
  color: #edf6f9;
}
.home .home__h1 {
  letter-spacing: 1px;
}
.home .home__setPlayerName {
  padding-left: 1rem;
  border-radius: 15px;
  height: 50px;
  background: none;
  font-size: 1.5rem;
  border: 1px solid #83c5be;
}
.home .home__setPlayerName:focus {
  border: 3px solid #83c5be;
  outline: none;
}
.home .home__start {
  border: 2px solid #006d77;
  border-radius: 15px;
  padding: 20px;
  font-size: 1.5rem;
  background: #e29578;
  border: 3px solid #edf6f9;
}
.home .home__start:hover {
  background: #ffddd2;
  color: #83c5be;
  border: 3px solid #83c5be;
}

.adventure {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #83c5be;
}
.adventure__h1 {
  letter-spacing: 1px;
  margin-bottom: 50px;
  background: #006d77;
  color: #ffddd2;
  width: 100%;
  text-align: center;
  padding: 30px;
}
.adventure__story {
  color: #ffddd2;
  background: #006d77;
  height: 500px;
  border-radius: 35px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px 100px;
}
.adventure__story .adventure__title {
  font-weight: bold;
  font-size: 2rem;
  color: #e29578;
}
.adventure__story .adventure__text {
  padding: 20px;
  font-family: EB Garamond;
  font-style: italic;
  font-size: 1.1rem;
  font-weight: 600;
  height: 100%;
  line-height: 1.5rem;
}
.adventure__story .adventure__text .adventure__speak {
  font-family: UnifrakturMaguntia;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 2px;
  background: #83c5be;
  color: red;
  border-radius: 1rem;
  margin-top: 30px;
  padding: 10px;
}
.adventure__story .adventure__choices {
  height: 100px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.adventure__story .adventure__choices .adventure__choice {
  background: #e29578;
  color: #ffddd2;
  border-radius: 1rem;
  padding: 1rem;
}
.adventure__story .adventure__choices .adventure__choice:hover {
  background: #ffddd2;
  color: #006d77;
}

/* THEMES */
/* VENDORS *//*# sourceMappingURL=main.css.map */