/* BASE */
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Bokor&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Germania+One&family=Parkinsans:wght@300..800&family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bokor&family=Parkinsans:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bokor&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Parkinsans:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bokor&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Parkinsans:wght@300..800&family=UnifrakturMaguntia&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
  font-family: Germania One;
  font-weight: 500;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

button {
  background: #394053;
  color: #4f7e4e;
  border-radius: 5000px;
  -webkit-box-shadow: 0 10px 0 0 black;
          box-shadow: 0 10px 0 0 black;
}
button:hover {
  color: #edf6f9;
}
button:active {
  -webkit-box-shadow: 0 0px 0 0 black;
          box-shadow: 0 0px 0 0 black;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.unifrakturmaguntia-regular {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
}

/* COMPONENTS */
.combat-container {
  width: 100%;
  font-size: 1.3rem;
}
.combat-container .combat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #4e4a59;
  border-radius: 25px;
  padding: 50px;
  margin: auto;
  /* ENNEMI STYLE */
  /* STYLES PLAYING */
}
.combat-container .combat__player__stats, .combat-container .combat__ennemy__stats {
  background: #6E6362;
  padding: 25px;
  border-radius: 35px;
}
.combat-container .combat__player__stats--name, .combat-container .combat__ennemy__stats--name {
  font-weight: bold;
  text-align: center;
  background: #4e4a59;
  height: 35px;
  border-radius: 500px;
  padding: 5px 20px;
  margin-bottom: 10px;
}
.combat-container .combat__player__stats p, .combat-container .combat__ennemy__stats p {
  padding-bottom: 5px;
}
.combat-container .combat__ennemy__stats {
  background: #394053;
}
.combat-container .combat__ennemy__stats--name {
  color: darkred;
  background: #4e4a59;
}
.combat-container .combat__ennemy__stats p {
  color: #6E6362;
}
.combat-container .combat__ennemy__stats:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}
.combat-container .combat__ennemy__attack {
  -webkit-animation: enemyAttack 1s forwards ease-out;
          animation: enemyAttack 1s forwards ease-out;
}
.combat-container .combat__play {
  background: #4f7e4e;
}
.combat-container .combat__play p {
  color: #394053;
}
.combat-container .combat__wait {
  background: #394053;
}
.combat-container .combat__ennemy__wait {
  background: #394053;
}
.combat-container .combat__ennemy__play {
  background: darkred;
}
.combat-container .combat__hit {
  -webkit-animation: hit 0.6s forwards;
          animation: hit 0.6s forwards;
}
.combat-container .your-turn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4f7e4e;
  height: 100px;
  width: 300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  color: #edf6f9;
  -webkit-animation: yourTurn 1s forwards;
          animation: yourTurn 1s forwards;
}
.combat-container .combat__player__turn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  margin-top: 25px;
  height: 150px;
  border-radius: 35px;
}
.combat-container .combat__player__turn .combat__button__attack, .combat-container .combat__player__turn .combat__button__defense, .combat-container .combat__player__turn .combat__button__use, .combat-container .combat__player__turn .combat__button__fled {
  padding: 20px;
  border-radius: 25px;
  -webkit-box-shadow: 0 10px 0 0 black;
          box-shadow: 0 10px 0 0 black;
  width: 150px;
}
.combat-container .combat__player__turn .combat__button__attack:hover, .combat-container .combat__player__turn .combat__button__defense:hover, .combat-container .combat__player__turn .combat__button__use:hover, .combat-container .combat__player__turn .combat__button__fled:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  color: #edf6f9;
}
.combat-container .combat__player__turn .combat__button__attack:active, .combat-container .combat__player__turn .combat__button__defense:active, .combat-container .combat__player__turn .combat__button__use:active, .combat-container .combat__player__turn .combat__button__fled:active {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
.combat-container .combat__player__turn .combat__button__attack {
  background: darkred;
}
.combat-container .combat__player__turn .combat__button__defense {
  background: #4f7e4e;
}
.combat-container .combat__player__turn .combat__button__use {
  background: orangered;
}
.combat-container .combat__player__turn .combat__button__fled {
  background: rgb(70, 70, 70);
}
.combat-container .combat__button__cancel {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  height: 50px;
  border-radius: 35px;
  padding: 25px;
  background: #394053;
}
.combat-container .ennemy-turn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  width: 300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-animation: yourTurn 1s forwards;
          animation: yourTurn 1s forwards;
  color: #6E6362;
  background: darkred;
}

.combat--attacking {
  cursor: crosshair;
}

@-webkit-keyframes yourTurn {
  0%, 30%, 50%, 70%, 90% {
    opacity: 0;
  }
  20%, 40%, 60%, 80%, 95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes yourTurn {
  0%, 30%, 50%, 70%, 90% {
    opacity: 0;
  }
  20%, 40%, 60%, 80%, 95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes hit {
  0%, 30%, 50%, 70%, 90% {
    background: red;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes hit {
  0%, 30%, 50%, 70%, 90% {
    background: red;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes enemyAttack {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  70% {
    -webkit-transform: translateX(50px) rotate(10deg);
            transform: translateX(50px) rotate(10deg);
  }
  90% {
    -webkit-transform: translateX(-350px) rotate(-20deg);
            transform: translateX(-350px) rotate(-20deg);
  }
}
@keyframes enemyAttack {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  70% {
    -webkit-transform: translateX(50px) rotate(10deg);
            transform: translateX(50px) rotate(10deg);
  }
  90% {
    -webkit-transform: translateX(-350px) rotate(-20deg);
            transform: translateX(-350px) rotate(-20deg);
  }
}
/* COMBAT FINISHED */
.combat__finished__container {
  width: 100%;
  height: 100%;
}
.combat__finished__container .pop-up__finished--bg {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 150px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.446);
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4f7e4e;
  -webkit-animation: popUp 3s forwards;
          animation: popUp 3s forwards;
  z-index: 1000;
}
.combat__finished__container .pop-up__finished--bg p {
  width: 100%;
  display: block;
  position: absolute;
  -webkit-animation: combatFinished 2s forwards ease-in-out;
          animation: combatFinished 2s forwards ease-in-out;
}
.combat__finished__container .finish__pop-up {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: #4e4a59;
  border: 10px solid #839073;
  padding: 1rem;
}

@-webkit-keyframes combatFinished {
  0% {
    left: -200%;
  }
  30%, 70% {
    left: 40%;
  }
  100% {
    left: 200%;
  }
}

@keyframes combatFinished {
  0% {
    left: -200%;
  }
  30%, 70% {
    left: 40%;
  }
  100% {
    left: 200%;
  }
}
@-webkit-keyframes popUp {
  0% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes popUp {
  0% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.bg__loots {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.665);
  -webkit-animation: lootsAppear 5s forwards;
          animation: lootsAppear 5s forwards;
}
.bg__loots .loots {
  margin: 200px 0;
  height: 600px;
}
.bg__loots .loots__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  width: 800px;
  top: 50%;
  right: 50%;
  margin: 0 auto;
  background: #839073;
  border-radius: 50px;
  color: #394053;
}
.bg__loots .loots__infos .loots__drop, .bg__loots .loots__infos .loots__gain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 100%;
}
.bg__loots .loots__infos .loots__drop h1, .bg__loots .loots__infos .loots__gain h1 {
  text-decoration: underline;
  margin-top: 20px;
}
.bg__loots .loots__infos .loots__drop ul, .bg__loots .loots__infos .loots__gain ul {
  padding: 1rem;
}
.bg__loots .loots__infos .loots__drop ul li, .bg__loots .loots__infos .loots__gain ul li {
  list-style-type: disc;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 1.3rem;
}
.bg__loots .loots__next {
  position: absolute;
  left: 50%;
  margin-top: 50px;
  height: 75px;
  width: 200px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5000px;
}
.bg__loots .loots__next:hover {
  color: #edf6f9;
}
.bg__loots .loots__next:active {
  -webkit-box-shadow: 0 0px 0 0 black;
          box-shadow: 0 0px 0 0 black;
  -webkit-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
}

@-webkit-keyframes lootsAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lootsAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* LAYOUTS */
/* PAGES */
.home {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #4e4a59;
  color: #edf6f9;
}
.home .home__h1 {
  letter-spacing: 1px;
}
.home .home__setPlayerName {
  padding-left: 1rem;
  border-radius: 15px;
  height: 50px;
  background: none;
  font-size: 1.5rem;
  border: 1px solid #6E6362;
}
.home .home__setPlayerName:focus {
  border: 3px solid #6E6362;
  outline: none;
}
.home .home__start {
  border: 2px solid #4e4a59;
  border-radius: 15px;
  padding: 20px;
  font-size: 1.5rem;
  background: #839073;
  border: 3px solid #edf6f9;
}
.home .home__start:hover {
  background: #4f7e4e;
  color: #6E6362;
  border: 3px solid #6E6362;
}

.adventure {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #6E6362;
}
.adventure__h1 {
  letter-spacing: 1px;
  margin-bottom: 50px;
  background: #394053;
  color: #4f7e4e;
  width: 100%;
  text-align: center;
  padding: 30px;
}
.adventure__story {
  min-height: 500px;
  height: 60%;
  max-height: 800px;
  color: #839073;
  background: #394053;
  width: 1000px;
  border-radius: 35px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px 100px;
}
.adventure__story .adventure__title {
  min-height: 35px;
  height: 5%;
  max-height: 100px;
  font-weight: bold;
  font-size: 2rem;
  color: #6E6362;
}
.adventure__story .adventure__text {
  min-height: 0;
  height: 75%;
  max-height: 800px;
  padding: 20px;
  font-family: EB Garamond;
  font-style: italic;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.5rem;
}
.adventure__story .adventure__text .adventure__speak {
  font-family: UnifrakturMaguntia;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 2px;
  background: #4e4a59;
  color: rgb(83, 0, 0);
  border-radius: 1rem;
  margin-top: 30px;
  padding: 10px;
}
.adventure__story .adventure__choices {
  min-height: 100px;
  height: 20%;
  max-height: 200px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.adventure__story .adventure__choices .adventure__choice {
  background: #4e4a59;
  color: #839073;
  font-size: 1.3rem;
  border-radius: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 0 10px 0 0 #839073;
          box-shadow: 0 10px 0 0 #839073;
  width: 250px;
}
.adventure__story .adventure__choices .adventure__choice:hover {
  background: #4f7e4e;
  color: #4e4a59;
}
.adventure__story .adventure__choices .adventure__choice:active {
  -webkit-box-shadow: 0 0 0 0 #839073;
          box-shadow: 0 0 0 0 #839073;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

/* THEMES */
/* VENDORS *//*# sourceMappingURL=main.css.map */