html {
  scroll-behavior: smooth;
  font-size: 18px;
  font-family: Germania One;
  font-weight: 500;
  overflow: hidden;
  background: $dark3;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

button {
    background: $dark3;
    color: $light1;
    border-radius: 5000px;
    box-shadow: 0 10px 0 0 black;
    &:hover {
      color: $white;
      background: $dark2;
    }
    &:active {
    box-shadow: 0 0px 0 0 black;
    transform: translateY(10px);
    }
}